@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

*, *::before, *::after {
 box-sizing: border-box;
}

.cropper-background {
  max-width: none; /* Allows the background to be larger than the container */
  max-height: none; /* Allows the background to exceed the cropper */
  object-fit: contain; /* Ensures the image fits nicely inside the cropper */
  cursor: pointer; /* Changes the cursor when dragging */
}